.listaCanciones{
	border:solid;
	margin-top:100px;
	margin-left:100px;
	width:610px;
	height:300px;
	float:left;
	overflow-y:scroll;
}

.listaRecomend{
	border:solid;
	margin-top:100px;
	margin-right:100px;
	width:600px;
	height:300px;
	float:right;
	overflow-y:scroll;
}

.boxTitle{
	text-align:center;
	font-weight:bold;
	border-bottom:solid;
	background-color:black;
}

.item:nth-child(odd){
	padding-left:20px;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#D2691E;
}
.item:nth-child(even){
	padding-left:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.item:hover{
	cursor:pointer;
	background-color:rgba(255, 255, 255, 0.4);
}

.fa-youtube-play{
	float:right;
	margin-top:-15px;
	margin-right:50px;
	color:black;
}