body { background: #EFEFEF; font-family: sans-serif}

.music-player {
  background: white;
  border-radius: 15px;
  box-shadow: 0 20px 50px -30px #000;
  width: 300px;
  overflow: hidden;
  margin: 50px auto;
}
.music-player--banner {
  background: url(http://thecatholiccatalogue.com/wp-content/uploads/2013/05/bob-marley-photo.jpg);
  background-size: cover;
  height: 150px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  position:relative;
  z-index:1;
}
.music-player--main {
  /* height: 100px; */
}
.music-player--progress {
  position: relative;
  overflow:auto;
  padding: 5px;

}
.progress--progress-bar {
  position: absolute;
  width: 100%;
  top: -1px;
  left: 0;
  -webkit-appearance: none;
  height: 3px;
  z-index:2
}
.progress--progress-bar::-webkit-progress-bar {
    height: 4px;
    background: transparent;
 }
.progress--progress-bar::-webkit-progress-value {
  background: #ED5483;
 }

.progress--time {
  color: #A9A9A9;
  font-size: 10px;
  float: left;
}
.progress--time__end {
  float: right;
}

.music-player--controls {
  padding: 0px 20px 20px;
}
.controls--play-button {
  display:inline-block;
  border-radius: 50%;
  padding: 13px 15px;
  background: #444;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.controls--play-button:hover {
  background: gray;
}
.song-info {
  display:inline-block;
  position:relative;
  top:5px;
  margin-left:5px;
}
.song-info--title {
  font-size: 18px;
  color: #8E8E8E;
  margin-bottom:5px;
}
.song-info--artist {
  font-size: 12px;
  color: #D8D8D8;
  margin-bottom:5px;
}

.controls--actions {
  display:inline-block;
  vertical-align: top;
  margin-top: 10px;
  float:right;
}
.controls--actions i {
    font-size: 20px;
    color: #BCBECA;
    cursor: pointer;
}
.controls--actions .actions--repeat {
  position:relative;
  top: 2px;
}
.controls--actions .actions--repeat:hover {
  color: #444
}
.controls--actions .fa-backward, .controls--actions .fa-forward {
  border-radius: 50%;
  background: #BCBECA;
  color: white;
  font-size: 9px;
  padding: 5px 4px 5px 7px;
}
.controls--actions .fa-backward:hover, .controls--actions .fa-forward:hover {
  background: #444;
}
.controls--actions .fa-backward {
  padding: 5px 6px 5px 5px;
}
